<div class="message-container message-<%= msg.slug %> flex items-start py-4 px-4 hover:bg-orange-100" data-controller="chat" data-action="mouseenter->chat#showOptions mouseleave->chat#hideOptions">
  <img src="<%= msg.user.avatar %>" alt="" class="mt-1 object-cover w-8 h-8 rounded-full border">
  <div class="pl-2" style="flex: 1">
    <div>
      <div class="flex justify-between items-center">
        <div>
          <strong class="text-sm"><%= msg.user.username %></strong>
          <span class="pl-1 text-gray-600"><%= readable_datetime(msg.created_at) %></span>
        </div>
        <div class="hidden message-options">
          <% if msg.user_id == msg.user_id || current_user.id %>
            <%= link_to "Delete", delete_message_path(message_slug: msg.slug), method: :delete, data: { confirm: "Are you sure you would like to delete this?" }, class: 'mx-1 text-gray-600 text-xs underline' %>
          <% end %>
          <span class="mx-1 text-gray-600 text-xs underline">Report</span>
        </div>
      </div>
    </div>
    <div class="text-sm text-gray-700"><%= msg.message %>  <% if msg.file.present? %> <%= image_tag asset_pack_path('media/images/download_file.svg'), class: 'inline-block' %> <a href="<%= rails_blob_path(msg.file) %>" class='text-blue-400 hover:text-blue-600 cursor-pointer underline text-xs' download><%= filename_truncate(msg.file.filename.to_s.freeze) %></a><% end %></div>
  </div>
</div>
