<div class="md:max-w-6xl md:mx-auto md:py-8 md:px-2 text-xs">
  <%#= link_to "sign out", destroy_user_session_path, method: :delete %>
  <div class="bg-white md:border" style="height: calc(100vh - 7em)">
    <div class="flex w-full h-full">
      <%= render 'chat_contacts_list' %>
      <main class="flex flex-col md:flex-none h-screen md:h-auto" style="flex: 1">
        <header class="border-b px-4 relative" style="min-height: 65px; height: 65px;">
          <div class="absolute cursor-pointer" style="right: 3%; top: 35%">
            <div class="relative">
              <div class="more-options">
                <em class="inline-block bg-indigo-500" style="border-radius: 50%; width: 0.45em; height: 0.45em;"></em>
                <em class="inline-block bg-indigo-500" style="border-radius: 50%; width: 0.45em; height: 0.45em;"></em>
                <em class="inline-block bg-indigo-500" style="border-radius: 50%; width: 0.45em; height: 0.45em;"></em>
              </div>
            </div>
          </div>
          <a href="/" class="block md:hidden absolute underline text-blue-500 hover:text-blue-700" style="left: 3%; top: 40%">Go back</a>
          <div class="flex justify-center md:justify-start items-center h-full">
            <div>
              <div class="text-center md:text-left text-lg md:text-xl font-bold "><%= @recipient.username %> <span class="text-green-400 ml-1 text-sm"><small>online</small></span></div>
              <div class="text-gray-600 flex">
                <div>Last seen 22h ago</div>
                <div class="mx-2">-</div>
                <div>Local time Nov 18, 9:31AM</div>
              </div>
            </div>
          </div>
          <div id="new-message-toast" class="new-message absolute hidden" style="bottom: -50%; left:0; right:0; z-index: 5">
            <div class="w-2/4 max-w-xs mx-auto flex justify-center">
              <div class="rounded-2xl bg-indigo-500 text-center py-1 px-3 text-white font-semibold">New Message</div>
            </div>
          </div>
        </header>
        <div class="flex flex-col" style="height: calc(100% - 65px);">
            <div id="chat-window" class="bg-white w-full overflow-x-hidden overflow-y-auto m-0"  data-controller="chat" data-action="scroll->chat#getMessages" data-id="<%= @chat_room.id %>" data-user="<%= current_user.slug %>">
              <div id="messages-timeline-<%= params["chat_slug"]%>-<%= current_user.slug %>" data-target="chat.timeline" class="chat-room-<%= @chat_room.slug %>">
                <%= render 'messages'%>
                <div id="auto-scroll-anchor"></div>
              </div>
            </div>
          <div class="pt-3 border-t md:border-0 md:pt-0 box-border bg-white md:bg-none" id="input-area">
            <div class="md:max-w-4xl lg:max-w-xl mx-auto px-4">
                <%= text_area_tag :message, nil, class: "resize-none border w-full rounded shadow text-xs p-2 text-gray-700 flex", style: "flex-grow: 1", id: "text-area-content" %>
                <footer class="px-1 py-3">
                  <div class="flex justify-between items-center">
                    <div>
                      <%= form_with model: Message.new, method: :post, url: send_attached_path(user_id: current_user.id, chat_slug: params[:chat_slug]), remote: false do |f| %>
                        <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :message, value: "I sent you a file" %>
                        <%= f.file_field :file, id: "attach-input", class: 'focus:outline-none', data: {controller: 'chat', action: 'change->chat#sendAttached'} %>
                        <%= f.submit class: 'hidden', id: "attach-send" %>
                      <% end %>
                    </div>
                    <%= submit_tag "Send", class: "font-bold text-white py-1 px-3 rounded border text-md bg-green-500 hover:bg-green-700 cursor-pointer", data: { chat_room_id: @chat_room.id, chat_room_slug: @chat_room.slug, controller: "chat", action: "click->chat#sendMessage" } %>
                  </div>
                </footer>
            </div>
          </div>
        </div>
      </main>
      <%= render 'chat_user_profile' %>
    </div>
  </div>
</div>



<script>

  var element_to_scroll_to = document.getElementById('auto-scroll-anchor');
  element_to_scroll_to.scrollIntoView();

</script>

