<div class="max-w-6xl mx-auto py-8 px-2 text-xs">
  <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  <div class="bg-white border" style="height: calc(100vh - 7em)">
    <div class="flex w-full h-full">
      <%= render 'chat_conversation_list' %>
      <main style="flex: 1">
        <header class="border-b px-4" style="min-height: 65px; height: 65px; z-index: 5;">
          <div class="flex items-center h-full">
            <div>
              <div class="text-xl font-bold"><%= @recipient.username %> <span class="text-green-400 ml-1 text-sm"><small>online</small></span></div>
              <div class="text-gray-600 flex">
                <div>Last seen 22h ago</div>
                <div class="mx-2">-</div>
                <div>Local time Nov 18, 9:31AM</div>
              </div>
            </div>
          </div>
        </header>
        <div class="flex flex-col" style="height: calc(100% - 65px);">
            <div id="chat-window" class="bg-white h-full w-full overflow-x-hidden overflow-y-auto m-0"  data-controller="chat" data-action="scroll->chat#getMessages" data-slug="<%= params[:chat_slug] %>">
              <div id="messages-timeline" data-target="chat.timeline">
                <%= render 'messages'%>
                <div id="auto-scroll-anchor"></div>
              </div>
            </div>
          <div class="box-border" id="input-area">
            <div class="max-w-xl mx-auto px-4">
                <%= text_area_tag :message, nil, class: "resize-none border w-full rounded shadow text-xs p-2 text-gray-700 flex", style: "flex-grow: 1", id: "text-area-content" %>
                <footer class="px-1 py-3">
                  <div class="flex justify-between items-center">
                    <div>
                      <%= form_with model: Message.new, method: :post, url: send_attached_path(user_id: current_user.id, chat_slug: params[:chat_slug]), remote: true do |f| %>
                        <%= f.hidden_field :chat_room_id, value: @chat_room.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :message, value: "File received" %>
                        <%= f.file_field :file, id: "attach-input", class: 'focus:outline-none', data: {controller: 'chat', action: 'change->chat#sendAttached'} %>
                        <%= f.submit class: 'hidden', id: "attach-send" %>
                      <% end %>
                    </div>
                    <%= submit_tag "Send", class: "font-bold text-white py-1 px-3 rounded border text-md bg-green-500 hover:bg-green-700 cursor-pointer", data: { chat_room_id: @chat_room.id, controller: "chat", action: "click->chat#send_message" } %>
                  </div>
                </footer>
            </div>
          </div>
        </div>
      </main>
      <%= render 'chat_user_profile' %>
    </div>
  </div>
</div>



<script>

  var element_to_scroll_to = document.getElementById('auto-scroll-anchor');
  element_to_scroll_to.scrollIntoView();

</script>

