
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_pack_path('media/images/88_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "88pixels SaaS Boilerplate" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for(:turbolinks_cache) %>
      <%= yield(:turbolinks_cache) %>
    <% end %>
  </head>

  <body class="bg-gray-200">
    <%= yield %>
  </body>
</html>
